input_dir: ${oc.env:MEDS_DIR}
cohort_dir: ${oc.env:MODEL_DIR}
output_dir: ${oc.env:MODEL_DIR}

stages:
  - fit_filter_and_occlude:
      _base_stage: aggregate_code_metadata
      aggregations:
        - code/n_occurrences
        - code/n_subjects
        - values/sum
        - values/sum_sqd
        - values/n_occurrences
  - filter_measurements:
      min_subjects_per_code: 10000
  - filter_subjects:
      min_events_per_subject: 10
      min_measurements_per_subject: 10
  - occlude_outliers
  - reorder_measurements:
      order: $(python -m meds_torch.utils.get_all_measurements metadata_fp=${output_dir}/metadata/codes.parquet)
  - fit_normalization:
      _base_stage: aggregate_code_metadata
      aggregations:
        - code/n_occurrences
        - code/n_subjects
        - name: values/quantiles
          quantiles: [ 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9 ]
  - fit_vocabulary_indices
  - normalization

